* {
    box-sizing: border-box;
    font-family: "Arial", Arial, Sans-serif;
  }
.nav {
    float: left;
    width: 15%;
    height: 40%;
    margin: 2px;
    border-radius: 5px;
    text-align: center;
    -webkit-transition: width 1s, height 1s; /* Safari prior 6.1 */
    transition: width 1s, height 1s;
  }

  div.nav:hover {
    width: 16.5%;
    height: 45%;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .project {
    float: left;
    width: 45%;
    height: 100px;
    margin: 2px;
    border-radius: 5px;
    text-align: center;
  }