* {
    font-family: Tahoma, Geneva, sans-serif;
}

.infocard {
    width: 98%;
    background-color: white;
    border-radius: 8px;
    margin: auto;
}

.headshot {
    width: 40%; 
    border-radius: 50%; 
    margin: auto; 
    padding: 3%;
}

.nav {
    float: left;
    width: 25%;
    background-color: inherit;
}

body {
    margin: auto;
    background-color: rgb(60, 60, 60);
}

.tttboard {
    max-width:360px;
    margin: auto;
    overflow: visible;
    text-align: center;
}

.tttbutton {
    width: 116px;
    height: 116px;
    float: left;
    text-align:center;
    border: none;
    color: Black;
    text-align: center;
    text-decoration: none;
    font-size: 80px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    
}

.tttbutton:hover {
    background-color: rgb(135, 196, 204);
}

.tttrbutton {
    width: 80px;
    height: 40px;
    background-color: rgb(250, 250, 210);
    border: none;
    color: black;
    text-align: center;
    font-size: 16px;
    overflow: visible;
    border-radius: 5px;
    float: center;
}

.tttrbutton:hover {
    background-color: rgb(243, 243, 166);
}

.project {
    float: left;
    width: 29%;
    height: width;
    margin: 7%;
    background-color: white;
}